#img_field{
    width: 15rem;
}

.slider{
    background: url("../img/banner.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body.ini {
  background: #007bff;
  background: linear-gradient(to right,#33aeff, #FFFFFF);
}